

.hide {
    display: none !important;
}

/* SOURCE: https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
/* Firefox */
.input-number-hide-arrows {
    -moz-appearance: textfield;
}
/* Chrome, Safari, Edge, Opera */
.input-number-hide-arrows::-webkit-outer-spin-button,
.input-number-hide-arrows::-webkit-inner-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}


/* SOURCE: https://stackoverflow.com/questions/29128960/how-to-precisely-center-bootstrap-grid-in-html-page */
.col-centered {
    float: none;
    margin-right: auto;
    margin-left: auto;
}